



.link a {
    text-decoration: none;
    color: black;
    text-align: center;
}
.link counter link__item{
    margin: 10px 20px -40px 20px;
    transition: ease 300ms;
}
.link:hover {
    transform: scale(1.15) !important;
    color: rgb(14, 184, 116);
}
