
h1{
    margin: auto;
    text-align: center;
    color: gray;
}
.bebidas{
    margin-left:10px;
    margin-top: 10px;
    
}
.conalcohol{
    margin-left:10px;
    margin-top: 10px;

}
.sinalcohol{
    margin-left:10px;
    margin-top: 10px;
}
.carrito{
    margin-left:10px;
    margin-top: 10px;
}